// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	width: auto;
	background: url('http://i.imgur.com/Y5LJWJ5.png');
	background-repeat: no-repeat;
	margin-bottom: em(50px);
}
