// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	width: auto;
	background: url('https://suzhoupanda.github.io/img/Shida_nightmarket/thumbs_up.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
